
__pycache__/
*.py[cod]
*$py.class


venv/
.venv/
env/


.env


.vscode/
.idea/


.DS_Store
Thumbs.db


*.log


chroma_db/
.chroma/


build/
dist/
*.egg-info/


.ipynb_checkpoints/


*.exe
*.app
*.jar
*.war


TEST*.xml


*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv